# ---- ADMIN ----
ADMIN_TOKEN=changeme-admin-token
LANGUAGE=en
# ---- EMAIL SMTP ----
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your_user
SMTP_PASS=your_password
SMTP_FROM=legal-bot@example.com

# === Gmail SMTP ===
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=mindsol2025@gmail.com
SMTP_PASS=jmnnnlgxbhqeecla     # همون App Password که ساختی (بدون فاصله)
SMTP_FROM=mindsol2025@gmail.com  # بهتره همون آدرس خودت باشه

# (گیرنده‌های دسته‌بندی)
CAT_RECIP_LAW=shayan2248@gmail.com
CAT_RECIP_BYLAW=pofhaze@gmail.com
CAT_RECIP_GUIDE=theyoungshayan@gmail.com
CAT_RECIP_CIRCULAR=team-circular@example.com

